<html>
    <body>
    <form action="/student">
    <label for="github">Enter github id</label>
    <input type="text" name="github" />
    <input type="submit">
    </form>

    <form action="/create_student">
    <label for="student">Create Student</label>
    <input type="text" name="first_name" placeholder="First Name" />
    <input type="text" name="last_name" placeholder="Last Name" />
    <input type="text" name="github" placeholder="Github Handle"/>
    <input type="submit">
    </form>

    <form action="/create_project">
    <label for="student">Create Project</label>
    <input type="text" name="project_title" placeholder="Project Name" />
    <input type="text" name="project_description" placeholder="Description" />
    <input type="text" name="project_max_grade" placeholder="Max Grade" />
    <input type="submit">
    </form>

    </body>
</html>
